li {
  padding: 5px;
  margin: 5px;
  /* background: #faebd7; */
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  /* background: aqua; */
}

.form-group {
  margin-bottom: 5px;
}

.parallax {
  background-image: url("../images/burger.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
height: 100%;
}


.transbox{
  background-color: rgba(255, 255, 255, .75);
   text-align:center;  
   overflow: auto;
}

#hamburger{
background-image: url("../images/burger_clipart.jpg");
/* background-attachment: fixed; */
background-position: center;
background-repeat: no-repeat;
}