<li>
	<div class="row">
		<div class="col-9 btn btn-danger disabled">{{name}}</div>
		<div class="col-3">
			{{!-- <button class="change-sleep btn btn-warning" data-id="{{id}}" data-newsleep="{{sleep}}" >
				{{#if sleep}}Devour!{{/if}}
			</button> --}}
		</div>
	</div>
</li>